:root {
  --font-display: "Poppins", sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded: "Poppins", sans-serif;
  --font-serif: "Poppins", sans-serif;
}
